:root {
    /*Primary*/
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);

    /*Neutral*/
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
}

*, *::before, *::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6,
p {
    margin: 0; 
 }

body {
    background: url("images/bg-pattern-top-mobile.svg") left top no-repeat, url("images/bg-pattern-bottom-mobile.svg") right bottom no-repeat;
    padding: 2rem 1rem;
    margin: 0;
    display: grid; 
    min-height: 100vh;
    place-content: center;
}

main { 
    display: grid;
    gap: 2rem;
    font-family: 'League Spartan', sans-serif;
    grid-template-areas:
    "heading"
    "rated"
    "people";
}

/* Postition of Grid */
.section-heading {
    grid-area: heading;
}

.section-rated {
    grid-area: rated;
}

.section-people {
    grid-area: people;
}


.section-heading {
    display: grid;
    gap: 1rem;
}

.title {
    color: var(--very-dark-magenta);
    font-weight: 700;
    text-align: center;
    font-size: 2.5rem;
}

.description {
    color: var(--dark-grayish-magenta);
    line-height: 1.5;
    text-align: center;
    font-weight: 500;
}

.section-rated {
    display: grid;
    gap: 1rem;
}

.container-rated {
    background-color: var(--light-grayish-magenta);
    padding: 1rem;
    border-radius: 0.5rem;
    display: grid;
    place-content: center;
    gap: 1rem;
}

.group-stars {
    display: flex;
    justify-content: center;
}

.group-stars img {
    width: 1.25rem;
    margin: 0 0.25rem;
}

.container-rated p {
    color: var(--very-dark-magenta);
    font-weight: 700;
}

.section-people {
    display: grid;
    gap: 1rem;
}

.container-people {
    background-color: var(--very-dark-magenta);
    padding: 2rem;
    border-radius: 0.5rem;
}

.box-people-name{
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 500;
    line-height: 1.25;
}

.box-people-name img {
    border-radius: 50%;
    width: 3rem;
    margin-right: 1rem;
}

.box-people-name span {
    color: var(--soft-pink);
    font-weight: 500;
}

.container-people .people-comment {
    color: white;
    font-weight: 500;
    line-height: 1.5;
}

@media screen and (min-width: 980px) {    
    body {
        background-image: url("images/bg-pattern-top-desktop.svg") , url("images/bg-pattern-bottom-desktop.svg");
        background-repeat: no-repeat, no-repeat;
        background-position: left top, right bottom;
    }
    
    main {
        grid-template-areas:
            "heading rated"
            "people people";
        width: calc(900/16*1rem);
        gap: 2rem 0;
    }

    .section-heading {
        width: calc(340/16*1rem);
    }

    .title,
    .description {
        text-align: left;
    }

    .section-rated {
        width: calc(560/16*1rem);
        align-content: center;
        justify-content: end;
    }

    .container-rated {
        grid-auto-flow: column;
        width: calc(400/16*1rem);
        justify-content: start;
        align-items: end;
    }

    .container-rated:nth-child(2) {
        margin-left: 2rem;
    }

    .container-rated:nth-child(3) {
        margin-left: 4rem;    
    }

    .section-people {
        grid-auto-flow: column;
        gap: 1.75rem;
    }

    .container-people {
        height: calc(280/16*1rem);
    }

    .container-people:nth-child(2) {
        margin-top: 1rem;
    }

    .container-people:nth-child(3) {
        margin-top: 2rem;
    }
}

